# port number for server
SERVER_PORT=PORT_NUMBER
# password for signing jwts 
SERVER_SECRET=
# username for postgres
POSTGRES_USER=
# password for postgres
POSTGRES_PASSWORD=
# port for postgres
POSTGRES_PORT=
# ip/url for postgres
POSTGRES_URL=
# postgres database to use
POSTGRES_DATABASE=
# URL of database in format "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_URL}:${POSTGRES_PORT}/${POSTGRES_DATABASE}"
DATABASE_URL=
